/* major screen divisions */
html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    
    padding: 0px;
    margin: 0 auto;
}
#area-container {
    height: 100%;
    padding-top: 35px;
}
#area-right {
    position: relative;
    float: left;
    
    width: 20%;
    height: 100%;
    border-left: 1px solid #666666;
}
#area-bottom {
    position: relative;
    float: left; 
    width: 100%;
    height: 100%;
}
#area-left {
    position: relative;
    float: left;
    
    width: 80%;
    height: 100%;
    
    overflow: auto;
    padding: 0px;
    background: #1A1A1A;
}
#area-top {
    position: relative;
    
    width: 100%;
    height: 35px;
    
    margin-top: -35px;
    padding: 2px;
    border-bottom: 1px solid #666666;
    background: #D1D1D1;
    
}

/* editor layers */
.editor-layer-container {
    outline: 2px solid grey;
    position: absolute;
}
.editor-layer-container-selected {
    box-shadow: 0px 0px 3px 2px #4C86C1;
    outline: 1px solid #4C86C1;
    
}
.editor-layer-contents {
    position: relative;
    width: 100%;
    height: 100%;
}
.editor-layer-text {
    position: absolute;
    left: 2px;
    top: 0px;
    color: #E6E6E6;
    display: hidden;
    font-size: 9px;
    z-index: 100;
}
.editor-layer-text-selected {
    color: #85C2FF;
    z-index: 150;
}
.editor-layer-container-hidden {
    outline: 2px dotted grey;
    box-shadow: none;
}


/* edit window */
#editor-viewport {
    box-shadow: 0px 0px 1px 1px #1A1A1A;
    display: block;
    position: relative;
    width: 640px;
    height: 480px;
    background: black;
    background-image: null;
    background-repeat: repeat;
}
#editor {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

/* top bar */
#main-header {
    display: inline;
    margin: 0;
    padding-left: 5px;
}
#area-header {
    float: left;
    height: 100%;
    width : 100%;
    padding: 5px;
}
.header-controls {
    position: relative;
    top: 0px;
    padding-left: 8px;
    padding-right: 8px;
}

/* file browser */
.list-file-item-selected {
    background: grey;
}

/* big list component */
.big-list {
    width: 100%;
    min-height: 50px;
    max-height: 250px;
    max-height: 300px;
    margin-bottom: 4px;
    margin-top: 2px;
    overflow-y: auto;
    overflow-x: hide;
    padding: 4px;
}
.big-list-item {
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
    width: 100%;
    background: white;
    overflow: hidden;
    position: relative;
}
.big-list-item-selected {
    box-shadow: 0px 0px 5px #4C86C1;
    background: #E6E6E6;
    border: 1px solid #4C86C1;
}
.big-list-item-title {
    margin: 2px;
    float: left;
    display: inline;
}

.layer-controls {
    float: right;
    display: inline;
}

/* nav tabs */
.navtab {
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
}
.navtabs {
    margin-bottom: 0;
}
.nav>li>a {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 2px;
}

/* settings : grid */
#canvas-create-grid {
    display: none;
}

/* shelf */
#area-shelf {
    height : 100%;
    width : 100%;
    padding-top: 5px;
    overflow-y: scroll;
}
.shelf-main {
    padding-top: 4px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
#shelf-settings {
    display: none;
}
#shelf-viewport {
    display: none;
}
#shelf-entities {
    display: none;
}
#shelf-resources {
    display: none;
}
#shelf-layer-add {
    display: none;
}
#shelf-layer-edit {
    display: none;
}
#shelf-settings-grid {
display: none;
}
#shelf-resources-images {
    display: none;
}
#shelf-resources-sprites {
    display: none;
}
#shelf-components {
    display: none;
}
/* resources: images*/
#image-thumb {
    background: white;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px grey;
}
#images-thumbs {
    display: none;
    margin: 0px;
}
/* general */
hr {
    margin-top: 2px;
    margin-bottom: 4px;
}
h3 {
    margin-top: 4px;
}
.btn-back:hover {
    color: #428BCA;
    cursor: pointer;
}
.form-group>.btn {
    margin-top: 8px;
}