/* major screen divisions */
html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    
    padding: 0px;
    margin: 0 auto;
}
#area-container {
    height: 100%;
    padding-top: 35px;
}
#area-right {
    position: relative;
    float: left;
    
    width: 20%;
    height: 100%;
    border-left: 1px solid #666666;
}
#area-bottom {
    position: relative;
    float: left; 
    width: 100%;
    height: 100%;
}
#area-left {
    position: relative;
    float: left;
    
    width: 80%;
    height: 100%;
    
    overflow: auto;
    padding: 0px;
    background: #1A1A1A;
}
#area-top {
    position: relative;
    
    width: 100%;
    height: 35px;
    
    margin-top: -35px;
    padding: 2px;
    border-bottom: 1px solid #666666;
    background: #D1D1D1;
    
}

/* editor layers */
.editor-layer-container {
    outline: 2px solid white;
    position: absolute;
}
.editor-layer-container-selected {
    box-shadow: 0px 0px 5px 3px #4C86C1;
}
.editor-layer-contents {
    position: relative;
    width: 100%;
    height: 100%;
}
.editor-layer-text {
    position: absolute;
    left: 4px;
    top: 4px;
    color: white;
    display: hidden;
}

/* edit window */
#editor-viewport {
    box-shadow: 0px 0px 2px 2px grey;
    display: block;
    position: relative;
    width: 640px;
    height: 480px;
    background: black;
    background-image: null;
    background-repeat: repeat;
}
#editor {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

/* top bar */
#main-header {
    display: inline;
    margin: 0;
    padding-left: 5px;
}
#area-header {
    float: left;
    height: 100%;
    width : 100%;
    padding: 5px;
}
#game-controls {
    position: relative;
    margin-right: 40px;
    top: 0px;
}   
#file-controls {
    margin-left: 20px;
    position: relative;
    margin-right: 20px;
    top: 0px;
}

/* layers : main list */
#layer-list {
    width: 100%;
    min-height: 50px;
    max-height: 250px;
    margin-bottom: 2px;
    margin-top: 2px;
    overflow-y: scroll;
    overflow-x: hide;
    padding: 8px;
}
.layer-view {
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
    width: 100%;
    background: white;
    overflow: hidden;
    position: relative;
}
.layer-controls {
    float: right;
    display: inline;
}
.layer-view-selected {
    box-shadow: 0px 0px 5px #4C86C1;
    background: #E6E6E6;
    border: 1px solid #4C86C1;
}
.layer-view-title {
    margin: 2px;
    float: left;
    display: inline;
}

/* nav tabs */
.navtab {
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
}
.navtabs {
    margin-bottom: 0;
}
.nav>li>a {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 2px;
}

/* settings : grid */
#canvas-create-grid {
    display: none;
}
#grid-settings-form {
    max-width: 200px;
    left: 20px;
}

/* shelf */
#area-shelf {
    height : 100%;
    width : 100%;
    padding-top: 5px;
    overflow-y: scroll;
}
.shelf-main {
    padding: 15px;
}
#shelf-settings {
    display: none;
}
#shelf-viewport {
    display: none;
}
#shelf-entities {
    display: none;
}
#shelf-resources {
    display: none;
}
#shelf-layer-add {
    display: none;
}
#shelf-layer-edit {
    display: none;
}
#shelf-settings-grid {
display: none;
}
#shelf-resources-images {
    display: none;
}
#shelf-resources-sprites {
    display: none;
}

